.smalltext, .smalltextwhite, 
.smalltextblack, .baskettext {font-family: Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal;} /*Small text*/
.smalltext {color: #25639A;} /*Small text blue*/ 
.smalltextwhite{color: #FFFFFF;} /*Small text white*/
.smalltextblack{color: #000000;} /*Small text black*/


.newstext, .newsdata {font-family: Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; color: #7C7E7F; text-decoration:none;}
.newsdata {color: #FF4C1E;}

.titletext {font-family: Arial, Helvetica, sans-serif; color:#4757C4; font-size:15px; font-weight:bold; line-height: 18px;}/*Page title*/
.subtitletext {font-family: Arial, Helvetica, sans-serif; color:#4791D3; font-size:13px; font-weight:bold;}/*Subtitle*/

.copy {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; text-decoration: none; color: #25639A;}

/*Include areas*/
table.tableborders, td.tableborders {border: 1px solid #B7BCDB;}
table.tableheads, td.tableheads{background-color:#EBECF3; padding: 5px;}
table.tableheads .smalltext ,td.tableheads .smalltext {color:#565A8A;}
table.tablebodys, td.tablebodys {background-color:#FFFFFF; padding: 5px}
table.tablebodys strong, td.tablebodys strong {color:#565A8A;}

hr {color: #BDCEDE; height: 1px}

/* Headers */
H1, H2, H3, H4 {font-family: Verdana, Arial, Helvetica, sans-serif; color:#3A84C4; font-size:13px; font-weight:bold; line-height: 16px; margin-bottom: 1px;}
H2{color:#346BA0; font-size:13px; line-height: 18px;}
H3{font-size:12px; color: #1C1C1C;}
H4{font-size:12px; color: #1C1C1C;}

/* Table colors */
td.tableborder, table.tableborder {background-color:#B7BCDB;}
table.tablehead, td.tablehead {background-color:#EBECF3;}
table.tablebody, td.tablebody {background-color:#FFFFFF;}
table.tablenullbody, td.tablenullbody {background-color:#FFFFFF;}


/* Table text */
.tablebodytext, .tablefieldtext, .tabletitletext,
.tableheadtext, .tablebodylink {font-family: Arial, Helvetica, sans-serif; font-size:12px;}
.tableheadtext {color:#25639A;}
a.tablebodylink {text-decoration: none}
a.tablebodylink:hover {text-decoration: underline}

/* Regular text */
.text {font-family:Arial, Helvetica, sans-serif; font-size:12px;}

/* Some colors to highlight text */
.errorcolor {color:red;}
.successcolor {color:green;}

/* Form elements */
input.inputtext, textarea.inputtextarea, select.inputselect, input.inputcheckbox, 
input.inputradio, input.inputfile, input.inputbutton, input.inputbodybutton, input.inputbuttonS {font-family:Verdana,Arial,Helvetica; font-size:11px;}
input.inputbuttonS {font-weight:bold;}
input.inputbuttonflat {color:#929292; background-color:#EFEFEF; border:1px solid #C8C8C8;}


